<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tarjeta-producto.component.css">
    <title>Actividad 3</title>
</head>
<body>
    <div id="tarjeta" class="container">
        <h2 class="text-center">{{ nombre }}</h2>
        <p class="xd"><strong>Precio:</strong> ${{ precio }}</p>
        <p class="xd">{{ descripcion }}</p>
        
        <app-conponente-padre></app-conponente-padre>
        <app-conponente-padre></app-conponente-padre>
        <app-conponente-padre></app-conponente-padre>

        <app-conponente-hijo></app-conponente-hijo>
        <app-conponente-hijo></app-conponente-hijo>
        <app-conponente-hijo></app-conponente-hijo>
    </div>
</body>
</html>
